---
import Social from './social.astro';
---

<footer>
  <div>
    <Social platform="instagram" user="jonydu05" />
    <Social platform="github" user="jonydu05" />
    <Social platform="facebook" user="jonydu05" />
    <Social platform="youtube" user="jonydu05" />
    <Social platform="twitch" user="jonydu05" />
  </div>
</footer>
<style>
  footer {
    padding: 1rem 10%;
    width: 100%;
    background: #f0f0f0;
    min-height: 10vh;
    display: flex;
    align-items: center;
    border-top: 1px solid #eaeaea;
    margin-top: auto;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }
</style>
